{% set haproxy = salt['grains.filter_by']({
    'default': {
        'package': 'haproxy',
        'config_file': '/etc/haproxy/haproxy.cfg',
        'config_file_source': 'salt://haproxy/templates/haproxy.jinja',
        'user': 'root',
        'group': 'root',
        'service': 'haproxy',
        'exporter_enabled': True,
        'exporter_version': '0.8.0',
        'exporter_archive_hash': 'sha256=2b1da4218fc5a1531ed17663ba5656c6bb5ce3db0ad6c2bdd6781d7f1b545816',
        'exporter_dist_dir': '/opt/haproxy_exporter/dist',
        'exporter_socket_path': 'unix:/var/lib/haproxy/stats'
    },
    'FreeBSD': {
        'group': 'wheel',
    },
}, merge=salt['pillar.get']('haproxy:lookup'), base='default') %}

